@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wpu-navy: #0f172a;
  --wpu-blue: #0284c7;
  --wpu-bg: #f0f9ff; /* Kita pakai biru muda parfum */
}

body {
  background-color: var(--wpu-bg);
  color: #334155;
  overflow-x: hidden;
}

/* Biar scrollbar di Kubuntu rapi */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
