@import "tailwindcss";

:root {
  --wpu-navy: #0f172a;
  --wpu-blue: #0284c7;
  --wpu-bg: #f0f9ff;
}

@theme {
  --color-wpu-navy: var(--wpu-navy);
  --color-wpu-blue: var(--wpu-blue);
  --color-wpu-bg: var(--wpu-bg);
}

body {
  background-color: var(--wpu-bg);
  color: #334155;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* Scrollbar Style Kubuntu */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
